<!doctype html>
<html>

<head>

    <title>CollegeConnect</title>
    <link rel="stylesheet" href="css/styleRemodel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!--
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> --}}
</head>

<body>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "350px";
            document.getElementById("main").style.marginRight = "330px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "30px";
            document.getElementById("main").style.marginRight = "0px";
        }




        function openOverlay() {
            document.getElementById("rightOverlay").style.height = "250px";
            document.getElementById("test").style.background = "rgb(160, 190, 247)";
        }

        /* Set the width of the side navigation to 0 */
        function closeOverlay() {
            document.getElementById("rightOverlay").style.height = "0";
            document.getElementById("test").style.background = "rgb(63, 63, 63)";
        }


        // When the user scrolls the page, execute myFunction
        window.onscroll = function () { myFunction() };

        // Get the navbar
        var navbar = document.getElementById("navBar");

        // Get the offset position of the navbar
        var sticky = navbar.offsetTop;

        // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }


    </script>

    <div id="mySidenav" class="sidenav">
        <table border="1px" width="100%" style="height: 100%;">
            <tr>
                <td rowspan="2">
                    <a href="javascript:void(0)" class="openbtn"
                        style="font-size:25px; padding:0px; width:25px; transform: rotate(-90deg);"
                        onclick="openNav()">Chatroom</a>
                    <a href="javascript:void(0)" class="fa fa-close" style="float: right; font-size:20px; padding:0px"
                        onclick="closeNav()"></a>
                </td>

            </tr>

            <tr>
                <td>
                    <iframe height="100%"></iframe>
                </td>

            </tr>
        </table>
    </div>



    <div id="navBar">
        {{!-- <li id="navLI"><a id="nav" onclick="openNav()">&#9776;</a></li> --}}
        <li id="navLI"><a id="nav" href="/Dashboard" style="font-size: 35px;">CollegeConnect {{route}}</a></li>



        <div class="topnav-right">
            <li id="navLI">
                <a id="nav" href="/Dashboard" style="font-size: 35px;">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li id="navLI" class="tooltip">
                <a id="nav" href="#" style="font-size: 35px;">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
            <li id="navLI" class="tooltip">
                <a id="nav" href="/multitask" style="font-size: 35px;">
                    <i class="fa fa-object-group"></i>
                </a>
            </li>
            <li id="navLI" class="tooltip">
                <a id="nav" onclick="openOverlay()" style="font-size: 35px;">
                    <i class="fa fa-group"></i>
                </a>
            </li>

            <li id="navLI" class="tooltip">
                <a id="nav" href="/zoom" style="font-size: 35px;">
                    <i class="fa fa-video-camera"></i>
                </a>
            </li>
            <li id="navLI" class="tooltip">
                <a id="nav" href="#" style="font-size: 35px;">
                    <i class="fa fa-folder-open"></i>
                </a>
            </li>
            <li id="navLI" class="tooltip">
                <a id="nav" href="#" style="font-size: 35px;">
                    <i class="fa fa-calendar"></i>
                </a>
            </li>


            <li id="navLI" class="tooltip">
                <a id="nav" href="/Login" style="font-size: 35px;">
                    <i class="fas fa-door-open">Log Out</i>
                </a>
            </li>



        </div>
    </div>
    <div id="main">
        {{{body}}}

        {{!-- <div class="icon-bar">
            <div class="tooltip">
                <a href="/Dashboard"><i class="fa fa-home"></i></a>
                <span class="tooltiptext">Home</span>
            </div>
            <div class="tooltip">
                <a href="#"><i class="fa fa-envelope"></i></a>
                <span class="tooltiptext">Email</span>
            </div>
            <div class="tooltip">
                <a href="/Multitask"><i class="fa fa-object-group"></i></a>
                <span class="tooltiptext">MultiTask</span>
            </div>
            <div class="tooltip" id="test">
                <a onclick="openOverlay()"><i class="fa fa-group"></i></a>
                <span class="tooltiptext">Collab</span>
            </div>
            <div class="tooltip">
                <a href="#"><i class="fa fa-address-book"></i></a>
                <span class="tooltiptext">Contacts</span>
            </div>
            <div class="tooltip">
                <a href="/zoom"><i class="fa fa-video-camera"></i></a>
                <span class="tooltiptext">Zoom Meeting</span>
            </div>
            <div class="tooltip">
                <a href="/files"><i class="fa fa-folder-open"></i></a>
                <span class="tooltiptext">Files</span>
            </div>
            <div class="tooltip">
                <a href="#"><i class="fa fa-calendar"></i></a>
                <span class="tooltiptext">Calendar</span>
            </div>

            <a href="#"><i class="fa fa-search"></i></a>
            <a href="#"><i class="fa fa-close"></i></a>
            <a href="#"><i class="fa fa-globe"></i></a>
            <a href="#"><i class="fa fa-trash"></i></a>
        </div> --}}



        <div id="rightOverlay" class="rightOverlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeOverlay()">&times;</a>

            <p>Collaborate</p>
            <a href="#">IT Capstone Team #2</a>
            <hr>
            <p>Study Groups</p>
            <a href="#">Scaling Networks</a>
            <a href="#">Data Visualization</a>
        </div>
    </div>


</body>

</html>