<!doctype html>
<html>
<head>
    <title>CollegeConnect</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <ul id="navBar">
  {{!-- <li id="navLI"><a id="nav" class="active" href="/">Home</a></li> --}}
  <li id="navLI"><a id="nav" href="/">Home</a></li>
  <li id="navLI"><a id="nav" href="/">Assignments</a></li>
  <li id="navLI"><a id="nav" href="/collab">Collab</a></li>
  <li id="navLI"><a id="nav" href="/">Calendar</a></li>
  <li id="navLI"><a id="nav" href="/">Inbox</a></li>
  <li id="navLI"><a id="nav" href="/">Help</a></li>
  <li id="navLI"><a id="nav" href="/">Log Out</a></li>

</ul>
    {{{body}}}
</body>
</html>
