<!doctype html>
<html>

<head>

    <title>CollegeConnect</title>
    <link rel="stylesheet" href="css/styleRemodel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.height = "550px";
            document.getElementById("chat").style.height = "500px";
        }

        function minNav() {
            document.getElementById("mySidenav").style.height = "300px";
            document.getElementById("chat").style.height = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.height = "40px";
            document.getElementById("chat").style.height = "20px";
        }




        function openOverlay() {
            document.getElementById("rightOverlay").style.width = "250px";
            document.getElementById("test").style.background = "rgb(160, 190, 247)";
        }

        /* Set the width of the side navigation to 0 */
        function closeOverlay() {
            document.getElementById("rightOverlay").style.width = "0";
            document.getElementById("test").style.background = "rgb(63, 63, 63)";
        }


    </script>

    <div id="mySidenav" class="sidenav">
        <table border="1px" width="100%">
            <tr style="padding:0px">
                <td>
                    <a href="javascript:void(0)" class="openbtn" style="float: left; font-size:25px; padding:0px"
                        onclick="openNav()">Chatroom</a>
                </td>
                <td>
                    <a href="javascript:void(0)" class="openbtn" style="float: right; font-size:20px; padding:0px"
                        onclick="closeNav()">Close</a>

                    <a href="javascript:void(0)" class="openbtn" style="float: right; font-size:20px; padding:0px"
                        onclick="openNav()">&nbsp; Max &nbsp;</a>
                    <a href="javascript:void(0)" class="openbtn" style="float: right; font-size:20px; padding:0px"
                        onclick="minNav()">
                        &nbsp; Min</a>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <iframe id="chat" src="https://deadsimplechat.com/Uog26Dn8o"></iframe>

                </td>

            </tr>
        </table>


    </div>




    <div id="main">

        <ul id="navBar">
            <li id="navLI"><a id="nav" onclick="openNav()">&#9776;</a></li>
            {{!-- <li id="navLI"><a id="nav" href="/">Assignments</a></li> --}}
            <li id="navLI"><a id="nav" href="#" style="font-size: 35px;">CollegeConnect {{route}}</a></li>
            <div class="topnav-right">
                <li id="navLI"><a id="nav" href="/login">Log Out</a></li>

            </div>

        </ul>
        {{{body}}}
        <div class="icon-bar">
            <div class="tooltip">
                <a href="/Dashboard"><i class="fa fa-home"></i></a>
                <span class="tooltiptext">Home</span>
            </div>
            <div class="tooltip">
                <a href="/chat">T</a>
                <span class="tooltiptext">TEST</span>
            </div>
            <div class="tooltip">
                <a href="#"><i class="fa fa-envelope"></i></a>
                <span class="tooltiptext">Email</span>
            </div>
            <div class="tooltip">
                <a href="/Multitask"><i class="fa fa-object-group"></i></a>
                <span class="tooltiptext">MultiTask</span>
            </div>
            <div class="tooltip" id="test">
                <a onclick="openOverlay()"><i class="fa fa-group"></i></a>
                <span class="tooltiptext">Collab</span>
            </div>
            <div class="tooltip">
                <a href="#"><i class="fa fa-address-book"></i></a>
                <span class="tooltiptext">Contacts</span>
            </div>
            <div class="tooltip">
                <a href="/zoom"><i class="fa fa-video-camera"></i></a>
                <span class="tooltiptext">Zoom Meeting</span>
            </div>
            <div class="tooltip">
                <a href="/files"><i class="fa fa-folder-open"></i></a>
                <span class="tooltiptext">Files</span>
            </div>
            <div class="tooltip">
                <a href="#"><i class="fa fa-calendar"></i></a>
                <span class="tooltiptext">Calendar</span>
            </div>

            {{!-- <a href="#"><i class="fa fa-search"></i></a> --}}
            {{!-- <a href="#"><i class="fa fa-globe"></i></a> --}}
            {{!-- <a href="#"><i class="fa fa-trash"></i></a> --}}
        </div>



        <div id="rightOverlay" class="rightOverlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeOverlay()">&times;</a>

            <p>Collaborate</p>
            <a href="#">IT Capstone Team #2</a>
            <hr>
            <p>Study Groups</p>
            <a href="#">Scaling Networks</a>
            <a href="#">Data Visualization</a>
        </div>
    </div>


</body>

<div class="footer">
    <p>Footer</p>
</div>

</html>