<!doctype html>
<html>

<head>

    <title>CollegeConnect</title>
    <link rel="stylesheet" href="css/styleRemodel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.height = "300px";
            //document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.height = "40px";
            //document.getElementById("main").style.marginLeft = "0";
        }




        function openOverlay() {
            document.getElementById("rightOverlay").style.width = "250px";
            document.getElementById("test").style.background = "rgb(160, 190, 247)";
        }

        /* Set the width of the side navigation to 0 */
        function closeOverlay() {
            document.getElementById("rightOverlay").style.width = "0";
            document.getElementById("test").style.background = "rgb(63, 63, 63)";
        }





    </script>

    <div id="mySidenav" class="sidenav">
        <table border="1px" width="100%">
            <tr style="padding:0px" height="10px">
                <td>
                    <a href="javascript:void(0)" class="openbtn" style="float: left; font-size:30px; padding:0px"
                        onclick="openNav()">
                        Chatroom
                    </a>
                </td>
                <td>
                    <a href="javascript:void(0)" class="openbtn" style="float: right; padding:0px"
                        onclick="closeNav()">&times;</a>
                </td>
            </tr>

            <tr>
                <td>
                    <pre id="messages"
                        style="height: 200px; padding:8px; background-color: rgb(255, 255, 255); border: 1px solid black;"></pre>
                </td>
                <td>
                    <input type="text" id="usernameBox" placeholder="Type your username here"
                        style="display: block; padding: 5px; " />

                    <input type="text" id="messageBox" placeholder="Type your message here"
                        style="display: block; padding: 5px; height:50px; " />
                    <button id="send" title="Send Message!" style="height: 100%;">Send Message</button>
                </td>

            </tr>
        </table>


    </div>


    <script>
        var input = document.getElementById("messageBox");

        input.addEventListener("keyup", function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("send").click();
            }
        });
        (function () {
            const sendBtn = document.querySelector('#send');
            const messages = document.querySelector('#messages');
            const messageBox = document.querySelector('#messageBox');
            const usernameBox = document.querySelector('#usernameBox');

            let ws;

            function showMessage(message, username) {
                messages.textContent += `\n\n${username}:${message}`;
                messages.scrollTop = messages.scrollHeight;
                messageBox.value = '';
                usernameBox.value = '';
            }
            function init() {
                if (ws) {
                    ws.onerror = ws.onopen = ws.onclose = null;
                    ws.close();
                }

                ws = new WebSocket('ws://localhost:4000');
                ws.onopen = () => {
                    console.log('Connection opened!');
                }
                //ws.onmessage = ({ message: data }) => showMessage(JSON.parse(message['data']));
                ws.onmessage = ({ data }) => showMessage(data);
                ws.onclose = function () {
                    ws = null;
                }
            }

            sendBtn.onclick = function () {
                if (!ws) {
                    showMessage("No WebSocket connection :(");
                    return;
                }

                //const usernameBox = getElementById('usernameBox').value || '???'
                //const messageBox = getElementById('messageBox').value || '???'
                //ws.send(messageBox.value);
                ws.send(usernameBox.value);
                //ws.send(`${usernameBox}: ${getElement('messageBox').value}`);
                showMessage(messageBox.value, usernameBox.value);
            }

            init();
        })();



    </script>


    <div id="main">

        <ul id="navBar">
            <li id="navLI"><a id="nav" onclick="openNav()">&#9776;</a></li>
            {{!-- <li id="navLI"><a id="nav" href="/">Assignments</a></li> --}}
            <li id="navLI"><a id="nav" href="#" style="font-size: 35px;">CollegeConnect {{route}}</a></li>
            <div class="topnav-right">
                <li id="navLI"><a id="nav" href="/login">Log Out</a></li>

            </div>

        </ul>
        {{{body}}}
        <div class="icon-bar">
            <div class="tooltip">
                <a href="/Dashboard"><i class="fa fa-home"></i></a>
                <span class="tooltiptext">Home</span>
            </div>
            <div class="tooltip">
                <a href="/chat">T</a>
                <span class="tooltiptext">TEST</span>
            </div>
            <div class="tooltip">
                <a href="#"><i class="fa fa-envelope"></i></a>
                <span class="tooltiptext">Email</span>
            </div>
            <div class="tooltip">
                <a href="/Multitask"><i class="fa fa-object-group"></i></a>
                <span class="tooltiptext">MultiTask</span>
            </div>
            <div class="tooltip" id="test">
                <a onclick="openOverlay()"><i class="fa fa-group"></i></a>
                <span class="tooltiptext">Collab</span>
            </div>
            <div class="tooltip">
                <a href="#"><i class="fa fa-address-book"></i></a>
                <span class="tooltiptext">Contacts</span>
            </div>
            <div class="tooltip">
                <a href="/zoom"><i class="fa fa-video-camera"></i></a>
                <span class="tooltiptext">Zoom Meeting</span>
            </div>
            <div class="tooltip">
                <a href="/files"><i class="fa fa-folder-open"></i></a>
                <span class="tooltiptext">Files</span>
            </div>
            <div class="tooltip">
                <a href="#"><i class="fa fa-calendar"></i></a>
                <span class="tooltiptext">Calendar</span>
            </div>

            {{!-- <a href="#"><i class="fa fa-search"></i></a> --}}
            {{!-- <a href="#"><i class="fa fa-globe"></i></a> --}}
            {{!-- <a href="#"><i class="fa fa-trash"></i></a> --}}
        </div>



        <div id="rightOverlay" class="rightOverlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeOverlay()">&times;</a>

            <p>Collaborate</p>
            <a href="#">IT Capstone Team #2</a>
            <hr>
            <p>Study Groups</p>
            <a href="#">Scaling Networks</a>
            <a href="#">Data Visualization</a>
        </div>
    </div>


</body>

<div class="footer">
    <p>Footer</p>
</div>

</html>