<h1>Add Course</h1>


<form action="/dashboard" method="POST">
    <input class="SignInFields" type="text" id="username" name="username" placeholder="ENC1101">
    <br>
    <input class="SignInButton" type="submit" value="Submit">
</form>