<h1>{{req.params.courseCode}}</h1>
<hr>


<div id="dash">
<style>
    td a {
        color: black;
    }
    td {
        padding: 15px;
        background-color:rgb(218, 218, 218);
    }
</style>


    <table width="100%" border="1px" style="font-size: 1.2rem;">
        <tr>
            <th style="background-color:bisque;">
                MODULE 1: Inclusive Teaching and Learning - Must Read
            </th>
        </tr>
        <tr>
            <td>
                <a href="#">Statement on Inclusive Teaching and Learning</a>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <table width="100%" border="1px" style="font-size: 1.2rem;">
        <tr>
            <th style="background-color:bisque;">
                MODULE 2: Begin Here - Important Course Information
            </th>
        </tr>
        <tr>
            <td>
                <a href="#">Welcome to Class Announcement</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#">CTS4911 - Syllabus - Spring 2022.pdf</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#">Course Communication</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#">Academic Integrity Module</a>
            </td>
        </tr>
    </table>
</div>




<center>
    <div id="right-bar">
        <div id="to-do">
            <h2>To-Do</h2>
            <div id="notif">
                <div id="notifHeader">
                    <strong>Midterms graded</strong>
                </div>
                <div id="notifBody">
                    Mar 14 at 9:40pm
                </div>
            </div>
            <div id="notif">
                <div id="notifHeader">
                    <strong>{Header}</strong>
                </div>
                <div id="notifBody">
                    {Body}
                </div>
            </div>
            <div id="notif">
                <div id="notifHeader">
                    <strong>{Header}</strong>
                </div>
                <div id="notifBody">
                    {Body}
                </div>
            </div>
        </div>
        <div id="recent">
            <h2>Feedback/Notifs</h2>
            <div id="notif">
                <div id="notifHeader">
                    <strong>Module 3 - Assignment</strong>
                </div>
                <div id="notifClass">
                    <strong>Data Visualization - CTS4457</strong>
                </div>
                <div id="notifBody">
                    "Looks good!"
                </div>
            </div>
            <div id="notif">
                <div id="notifHeader">
                    <strong>{Assignment}</strong>
                </div>
                <div id="notifClass">
                    <strong>{Class}</strong>
                </div>
                <div id="notifBody">
                    {Body}
                </div>
            </div>
            <div id="notif">
                <div id="notifHeader">
                    <strong>{Assignment}</strong>
                </div>
                <div id="notifClass">
                    <strong>{Class}</strong>
                </div>
                <div id="notifBody">
                    {Body}
                </div>
            </div>

        </div>
    </div>
</center>