<h1>{{req.params.courseCode}}</h1>
<hr>


<div id="dash">
<style>

</style>


    <table width="50%" border="1px" style="font-size: 1.2rem;">
        <tr>
            <th style="background-color:bisque;">
                MODULE 1: Inclusive Teaching and Learning - Must Read
            </th>
        </tr>
        <tr>
            <td>
                <a href="#">Statement on Inclusive Teaching and Learning</a>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <table width="100%" border="1px" style="font-size: 1.2rem;">
        <tr>
            <th style="background-color:bisque;">
                MODULE 2: Begin Here - Important Course Information
            </th>
        </tr>
        <tr>
            <td>
                <a href="#">Welcome to Class Announcement</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#">CTS4911 - Syllabus - Spring 2022.pdf</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#">Course Communication</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#">Academic Integrity Module</a>
            </td>
        </tr>
    </table>
</div>




<center>
    <div id="sidebar-main">
        <div class="sidebar-category">
            May 17th, 2022
        </div>
        <br>
        <div class="sidebar-category">
            The Week Ahead
        </div>
        <div class="sidebar-notif">
            <div class="sidebar-notif-header">
                Wednesday
            </div>
            <div class="sidebar-notif-body">
                <ul class="notifText">
                    <li>
                        COP3813: Tableau Charts Dashboard
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-notif">
            <div class="sidebar-notif-header">
                Thursday
            </div>
            <div class="sidebar-notif-body">
                <ul class="notifText">
                    <li>
                        COP3813: Final Assignment-Project
                    </li>
                    <li>
                        CTS4457: Deployment Quiz
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-notif">
            <div class="sidebar-notif-header">
                Friday
            </div>
            <div class="sidebar-notif-body">
                <ul class="notifText">
                    {{!-- <li>
                        N/a
                    </li> --}}
                </ul>
            </div>
        </div>

        <div class="sidebar-category">
            Course Grades
        </div>
        <div class="sidebar-notif">
            {{#each student}}
            {{#each classes}}
            <div class="sidebar-notif-body tag">
                <strong>{{courseName}}:</strong> {{courseGrade}}
            </div>
            {{/each}}
            {{/each}}
        </div>
    </div>
</center>