<h1>Collaboration Area</h1>

<iframe src="/examples/html/hello.html" name="myFrame"></iframe>
<p><a href="https://my.uwf.edu/" target="myFrame">Open Canvas</a></p>
<p><a href="https://www.tutorialrepublic.com" target="myFrame">Open TutorialRepublic.com</a></p>



<embed src="https://my.uwf.edu/" style="width:500px; height: 300px;">