<center>


  <h1 style="font-size: 60px;">CollegeConnect</h1>
  {{#if error}}
  <p>{{error}}</p>
  {{/if}}
  <br>
  <form action="/login" method="POST">
    {{!-- <label for="username">Username</label> --}}
    <input class="SignInFields" type="text" id="username" name="username" placeholder="Username">
    <br>
    {{!-- <label for="password">Password</label> --}}
    <input class="SignInFields" type="password" id="password" name="password" placeholder="Password">
    <br>

    <input class="SignInButton" type="submit" value="Sign In">

  </form>

  <br>
  Test login info:
  <br>
  Password verification now works!
  <table border="1px">
    <tr>
      <th>Student</th>
      <th>Username</th>
      <th>Password</th>
      <th># of Classes</th>
    </tr>
    <tr>
      <td>James</td>
      <td>jbb70</td>
      <td>d6mk9a</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Micah</td>
      <td>mkb57</td>
      <td>zN3FTm</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Derek</td>
      <td>drj35</td>
      <td>asK1m9</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Sarah</td>
      <td>sej46</td>
      <td>H9IQvc</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Bruno</td>
      <td>bsa13</td>
      <td>U4dkY9</td>
      <td>4</td>
    </tr>
  </table>

</center>