{{!-- <h1>Collaboration Area</h1> --}}

<iframe src="" name="myFrame"></iframe>
<p><a href="https://my.uwf.edu/" target="myFrame">Open Canvas</a></p>
<p><a href="https://www.github.com" target="myFrame">Open GitHub.com</a></p>
<p><a href="https://www.amazon.com" target="myFrame">Open Amazon.com</a></p>
