<h1>ZOOM</h1>

<div id="dash">
    <div class="zoom-frame">
        <div class="zoom-header">
            name
        </div>
        {{!-- <img src="images/class.jpg" class="zoom-video"> --}}
    </div>
    <div class="zoom-frame">
        <div class="zoom-header">
            name
        </div>
        {{!-- <img src="images/class.jpg" class="zoom-video"> --}}
    </div>
    <div class="zoom-frame">
        <div class="zoom-header">
            name
        </div>
        {{!-- <img src="images/class.jpg" class="zoom-video"> --}}
    </div>
    <div class="zoom-frame">
        <div class="zoom-header">
            name
        </div>
        {{!-- <img src="images/class.jpg" class="zoom-video"> --}}
    </div>
</div>