body {
    background-color: rgb(241, 241, 241);
    /* width:90%; */
    /* margin-left: 170px; */
}



/* DASHBOARD CARDS STYLES */
.card {
    transition: 0.3s;
    border: 5px black;
    width: 400px;
    padding: 5px;
    margin: 10px;
    float: left;
    background-color: rgb(70, 70, 70);
    /* background-color: rgb(2, 0, 141); */
}

.card:hover {
/* .container:hover { */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card a {
    color: #FFFFFF;
    text-decoration: none;
}

.container {
    padding: 2px 16px;
    height: 100px;
    background-color: rgb(160, 190, 247);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.classImg {
    width: 100%;
}

#dash {
    float: left;
    height: 100%;
    width: 70%;
    /* background-color: rgb(241, 112, 241); */
}


/* NAVBAR STYLES  */
.active {
    background-color: #001d9e;
    /* background-color: #04AA6D; */
}
#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 82, 204);
    /* background-color: #333; */
    position: sticky;
    width: 100%;
    top: 0;
}

#navLI {
    float: left;
    font-size: 20px;
}

#nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav:hover {
    color: rgb(255, 255, 255);
    /* background-color: rgb(255, 255, 255); */
    color: black;
}

.topnav-right {
    float: right;
}






/* SIDE BAR STYLES */
center div div h2 {
    border-bottom: 1px solid black;
}
#right-bar {
    float: right;
    width: 15%;
    /* width: 250px; */
    padding-left: 5px;
    /* position: fixed; */
    /* right: 0; */
    height: 100%;
    border-left: 1px solid black;
}

#to-do {
    height: 100%;
}

#recent {
    height: 100%;
}

#notif {
    margin-top: 5px;
    padding: 14px 16px;
    background-color: rgba(43, 43, 43, 0.281);
}

#notifHeader {
    font-size: 20px;
}

#notifBody {
    font-size: 15px;
}

#notifClass {
    font-size: 12px;
}


/* IFRAME CSS  */
iframe {
    width: 100%;
    height: 600px;
}















/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }